<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>policereg</servlet-name>
        <servlet-class>controller.policereg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginpolice</servlet-name>
        <servlet-class>controller.loginpolice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changepassword</servlet-name>
        <servlet-class>controller.changepassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controller.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>criminalregistration</servlet-name>
        <servlet-class>controller.criminalregistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchcribyname</servlet-name>
        <servlet-class>controller.searchcribyname</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>policeprofile</servlet-name>
        <servlet-class>controller.policeprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fir</servlet-name>
        <servlet-class>controller.fir</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>policereg</servlet-name>
        <url-pattern>/policereg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginpolice</servlet-name>
        <url-pattern>/loginpolice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changepassword</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>criminalregistration</servlet-name>
        <url-pattern>/criminalregistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchcribyname</servlet-name>
        <url-pattern>/searchcribyname</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>policeprofile</servlet-name>
        <url-pattern>/policeprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fir</servlet-name>
        <url-pattern>/fir</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
